/* Global styling */

html * {
    font-family: Arial, Helvetica, sans-serif;
}

/* Element styles */

h1 {
    text-align: center;
}
  
h2 {
    text-align: center;
}

p {
    text-align: center;
}

button {
    margin: 0 auto;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}


/* Class styles */
.value_card {
    background-color: lightblue;
    border: 1px solid blue;
    text-align: center;
    width: fit-content;
    margin: 10px;
    border-radius: 2px;
    padding: 2px;
}

.centre {
    margin: auto;
    width: 50%;
    padding: 10px;
    align-items: center;
}

.val_field {
    display: flex;
    height: fit-content;
    padding: 40px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
}

.outer_val_field {
    height: fit-content;
    width: 30%;
    border-radius: 5px;
    justify-content: center;
    align-self: center;
}

/* ID-based values */

#button_holder {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    }

#ranking_fields {
    display: flex;
    justify-content: space-around;  
    padding-left: 5%;
    padding-right: 5%;
}

#values_list {
    display: flex;
    margin:10px;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
